* {
    background-color: rgb(75, 75, 75);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container {
    display: grid;
    width: 750px;
    height: 750px;
    border: 2px dashed cyan;
    margin-top: 2em;
}
